@page "{id:int}"
@model MyScriptureJournal.Pages.JournalEntries.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JournalEntry</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JournalEntry.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JournalEntry.Book)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JournalEntry.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JournalEntry.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JournalEntry.DateAdded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JournalEntry.DateAdded)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-info" asp-page="./Edit" asp-route-id="@Model.JournalEntry.ID">Edit</a>
    <a class="btn btn-outline-info" asp-page="./Index">Back to List</a>
</div>
